---
Language: Cpp
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakAfterDefinitionReturnType: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BreakBeforeBraces: Allman
PointerAlignment: Right
ColumnLimit: 80
UseTab: Never
IndentWidth: 2
TabWidth: 2